{% extends "base.html" %}

{% block content %}
    <p align="right" style="color:#000000; font-size:17px">Вы вошли в систему как: {{ current_user.username }}</p>
    <p align="right"><a href="{{ url_for('logout') }}">Выйти</a></p>
    <p align="center" style="color:#000000; font-size:28px">Рекомендательная система режимов термообработки в цехе №5</p>
    {% if args["method"] == "POST" %}
        <center>
            <p align="right"><a href="{{ url_for('login') }}">Расчитать заново</a></p>
            {% if args["error1"] and args["error2"] %}
                <p align="center" style="color:#000000; font-size:16px">{{args["error2"]}}</p>
            {% else%}
                {% if args["error2"] %}
                    <p align="center" style="color:#000000; font-size:16px">{{args["error2"]}}</p>
                {% endif %}
                <p align="center" style="color:#000000; font-size:16px">Данные расcчитаны</p>
                <form action="/downloadExcelFile">
                    <button type="submit">Сохранить файл</button>
                </form>
            {% endif %}
        </center>
    {% else%}
        <p align="right"><a href="{{ url_for('downloadInputFiles') }}">Скачать входной файл</a></p>
        <form action="/" method="POST" enctype="multipart/form-data">
            <center>
                <input type="file" name="file" id="file_id">
                <button type="submit">Рассчитать</button>
                <p>
                    <input type="radio" name="options" id="option1" value="predict"> Прогноз свойств </input><br>
                    <input type="radio" name="options" id="option2" value="optimizer"> Оптимизатор </input><br>
                </p>
            </center>
        </form>
    {% endif%}
{% endblock %}